@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --menu-color: hsla(0, 0%, 12%, 0.932);

  --primary-color: hsl(355, 75%, 48%);
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(150, 4%, 69%);
  --button-color: hsl(355, 77%, 44%);

  --nav-height: 7.2rem;
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: url(../image/Indieground_PhotocopyNoise_Textures_05.jpg);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  text-align: center;
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

section {
  padding-block: 10rem;
}

section h4 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 150%;
  color: var(--primary-color);
  margin-bottom: 1.6rem;

  letter-spacing: 0.08rem;
  text-transform: uppercase;
}

section h1 {
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 130%;
  color: var(--title-color);
  font-weight: bold;

  margin-bottom: 2.4rem;
}

section h2 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.9rem;
  color: var(--primary-color);
}

section h3 {
  font-weight: 500;
  font-size: rem;
  line-height: 150%;
  color: var(--primary-color);
}

section .content p {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--text-color);
}

.btn {
  display: flex;
  width: fit-content;
  font-size: 2.1rem;

  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 0.5rem;
}
/* =======================NAVIGATION====================================*/
nav {
  display: flex;

  position: fixed;
  top: 0;
  width: 100vw;
  padding: 1.1rem 1rem 1rem 0rem;
  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background: var(--menu-color);
}

nav button {
  background: none;
  border: none;
}

nav button path {
  stroke: var(--primary-color);
}
nav.scroll button path {
  stroke: var(--primary-color);
}

nav .logo {
  color: var(--title-color);
}

nav.scroll .logo {
  color: (--primary-color);
}

nav .menu,
nav .close-menu {
  position: fixed;
}

/* =======================MENU====================================*/

.menu {
  transform: translateY(900%);
}
.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

body.menu-expanded {
  overflow: hidden; /* some com a barra de rolagem*/
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

body.menu-expanded nav {
  top: 0;
  padding: 0;
}

body.menu-expanded .menu {
  top: 0;
  left: 0;
  background: url(../image/Indieground_PhotocopyNoise_Textures_03.jpg);

  width: 100vw;
  height: 120vh;

  padding-top: var(--nav-height);

  transition: transform 300ms 100ms;

  transform: translateY(-7%);
}
.menu ul:nth-child(1) /* Pega o elemento da ordem que corresponde ao indice passado*/ {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: var(--title-color);
  text-decoration: none;
}
body.menu-expanded .logo,
body.menu-expanded .close-menu {
  position: relative;
  z-index: 100;
}

/* =======================HOME====================================*/

#home {
  padding-block: 0;
  padding-top: calc(4.1rem + var(--nav-height));
}

#home .wrapper {
  text-align: left;
}
#home h3 {
  font-weight: bold;
}
#home .content p {
  width: 36rem;
  padding-bottom: 1rem;
}

#home header {
  text-align: center;
}

#home .content a {
  background: var(--button-color);
  color: var(--title-color);
  border: 1px solid red;
  padding: 1rem;
}

#home .content a img {
  width: 1rem;
  padding-left: 1rem;
}

#home img {
  display: block;
  margin-inline: auto;
  width: 35rem;
  height: 50rem;

  padding-top: 4rem;
}

/* =======================ABOUT====================================*/
#about {
  padding-block: 0;
  padding-top: calc(4.1rem + var(--nav-height));
}

#about img {
  display: block;
  margin-inline: auto;
  width: 35rem;
  height: 50rem;

  padding-top: 4rem;
}

#about h1 {
  padding-top: 2rem;
  text-align: left;
}

#about .content {
  text-align: left;
}

#about .content p {
  font-weight: 500;
}

#about .content ul {
  list-style-type: none;
  padding-top: 1.5rem;
}
